.home {
    background-color: black;
    color: rgb(203, 220, 235);
    width: 100vw;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.default-home-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 100px;
}
.all-items {
    flex: 5;
    width: 100%;
    text-align: center;
    align-items: center;
    gap: 10px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.default-home-container::-webkit-scrollbar {
    width: 15px;
    /* width of the entire scrollbar */
}

.default-home-container::-webkit-scrollbar-track {
    background: rgb(36, 36, 37);
    /* color of the tracking area */
}

.default-home-container::-webkit-scrollbar-thumb {
    background-color: rgb(67, 71, 75);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}


.single-item-image {
    width: 30%;
    height: 70vh;
    object-fit: cover;
}

.items-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.hr-style {
    border-top: 55px solid red;
}

.navigation {
    flex: 0.08;
    background-color: rgb(62, 61, 61);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
}

.navigation-item {
    display: flex;
    gap: 15px;
    overflow: auto;
}

.navigation-item .active {
    color: aqua;
}

.active-link {
    background-color: rgb(13, 13, 13);
}

.main-area {
    flex: 0.92;
}


.cart-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 300px;
    min-height: 300px;
    background-color: rgb(3, 12, 20);
    gap: 10px;
    cursor: pointer;
}


@media only screen and (max-width: 700px) {

    .content-area-2 {
        width: 90%;
        margin: 20px 0px;
        font-size: larger;
    }

    
    .default-home-container::-webkit-scrollbar {
        width: 7px;
        /* width of the entire scrollbar */
    }
    
}