.home {
    /* height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: black;
    color: aliceblue;
}

.navigation {
    flex: 0.08;
    background-color: rgb(62, 61, 61);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
}
.navigation-item {
    display: flex;
    gap: 15px;
    overflow: auto;
}
.navigation-item .active {
    color: aqua;
}
.active-link{
    background-color: rgb(13, 13, 13);
}
.main-area {
    flex: 0.92;
}

.all-items {
    text-align: center;
    align-items: center;
    gap: 10px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.cart-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 300px;
    min-height: 300px;
    background-color: rgb(3, 12, 20);
    gap: 10px;
    cursor: pointer;
}